<!DOCTYPE html>
<html lang="en">
  <%- include('common/head') %>
  <body>
    <div class="">
      <% if(isLogin){ %> <%- include('common/header') %> <% } else { %>
      <header>
        <div id="gnb">
          <nav>
            <ul id="top-menu">
              <li><a href="#">KOR▼</a></li>
              <li id="log-btn"><a href="login">Login</a></li>
              <li id="signup-btn"><a href="signup">Sign up</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <% } %> <%- include('mv') %>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>

    <script src="../src/nav.js"></script>
    <script type="module" src="../src/logout.js"></script>
    <!-- <script src="../src/signup.js"></script> -->
    <!-- <script src="../src/join-service.js"></script> -->
  </body>
</html>
