<div class="mv">
  <div class="text">
    <p>You can study Korean on the bulletin board. <br />Let's try it now.</p>
    <button onclick="location.href='board'">View</button>
  </div>
  <div>
    <img src="../public/img/main-image-laptop.jpg" />
  </div>
</div>
<div class="mv">
  <div>
    <img src="../public/img/main-image-news.jpg" />
  </div>
  <div class="text">
    <p>Do you want to watch Korean news?</p>
    <button onclick="window.open('https://news.naver.com')">Go</button>
  </div>
</div>
<div class="mv">
  <div class="text">
    <button onclick="window.open('https://google.com')">SNS</button>
  </div>
  <div>
    <img src="../public/img/main-image-contact.jpg" />
  </div>
</div>
