/* Tab menu */
.nav-link,
.nav-link.disabled {
  color: rgba(66, 105, 110, 0.9);
}
.nav-link.active,
.nav-link:focus,
.nav-link:hover {
  color: rgba(82, 179, 185, 1);
}

/* Search */
.search {
  margin: 14px 0;
}

/* Contents */
.card {
  width: 18rem;
}
.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.card-text.date {
  font-size: 0.85em;
  color: #495057;
  margin-top: 10px;
}

/* contents detail */
#card-detail {
  display: none;
}
#card-detail small {
  font-size: 0.8em;
  color: #495057;
}

/* pagination */
#card-wrap nav {
  justify-content: center;
}
