<header>
  <div id="gnb">
    <h1><a href="/">Hejhejkorean</a></h1>
    <nav>
      <ul id="menu-list">
        <li class="menu">
          <a href="board">Bulletin Board</a>
        </li>
        <li class="menu">
          <a href="#">Bulletin Board</a>
        </li>
        <li class="menu">
          <a href="#">Bulletin Board</a>
        </li>
      </ul>
      <ul id="top-menu">
        <li><a href="#">KOR▼</a></li>
        <li id="log-btn">
          <a id="logout-btn" href="#">Logout</a>
        </li>
      </ul>
    </nav>
    <span class="toggleBtn">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
</header>
